
@-webkit-keyframes bloog-walk {

	0% {
		-webkit-transform:scaleX(-1) translateX(0);
	}

	50% {
		-webkit-transform:scaleX(-1) translateX(450px);
	}

	50.01% {
		-webkit-transform:scaleX(1) translateX(-450px);
	}

	100% {
		-webkit-transform:scaleX(1) translateX(0);
	}

}

@-webkit-keyframes zap {

	0% {
		-webkit-transform:translateX(0);
	}

	1% {
		opacity:1;
	}

	100% {
		opacity:1;
		-webkit-transform:translateX(450px);
	}

}

@-webkit-keyframes float {

	0% {
		-webkit-transform:translateY(0);
	}

	100% {
		-webkit-transform:translateY(10px);
	}

}

@-webkit-keyframes die {

	0% {
		-webkit-transform:translateX(0) rotateZ(0);
		opacity:1;
	}

	100% {
		opacity:0;
		-webkit-transform:translateX(20px) rotateZ(90deg);
	}

}





html,body {
	font-size:1em;
	padding:.5em 1em;
	margin:0;
	line-height:1.5;
	color:#333;
	font-family:"FrutigerNeueRegular", helvetica, arial, sans-serif;
}

html {
	padding-bottom:5em;
}


body {
	position:relative;
	max-width:40em;
	margin:10em auto 0;
	padding:.25em 2em 1em;
	background:#fff;
	z-index:1;
}


html.require {
	background:#ff5252 url(../assets/back-mountain.gif) repeat-x left top;
}

html.conditioner {
	background:#5252ff url(../assets/back-space.gif) repeat-x left top;
}

html.conditioner:after {
	position:absolute;
	left:40px;top:48px;
	width:80px;
	height:192px;
	background:url(../assets/back-space-tower.gif) no-repeat center top;
	content:'';
}


ol,ul {
	margin:0;
	padding:0;
}

ul {
	margin-left:1.5em;
}

li {
	margin-bottom:1em;
}

pre {
	font-family:consolas, monaco, "courier new", monospace;
	color:#797772;
	padding-left:1em;
	border-left:3px solid #6a88c5;
}

code {
	display:inline-block;
	font-family:consolas, monaco, "courier new", monospace;
	background:#eeede2;
	color:#454441;
	padding:0 .333em;
	border-radius:.25em;
}

.logo {
	margin:0 auto;
	width:200px;
}

.go {
	margin:0 auto;
	width:6em;
	display:block;
	padding:1em 2em;
	background:#07a8a8;
	border-radius:1em;
	color:#fff;
	font-size:1.5em;
}







.field {
	position:fixed;
	left:0;
	right:0;
	top:0;
	padding-top:80px;
	height:70px;
}

.platform {
	position:relative;
	display:block;
	left:15px;
	width:450px;
	height:48px;
	margin:0 auto;
	z-index:1;
	background:url(platform.gif) repeat-x left bottom;
}

.platform:before,
.platform:after {
	position:absolute;
	top:0;
	height:100%;
	background-repeat:no-repeat;
	content:'';
	z-index:2;
}

.platform:before {
	width:55px;
	left:-55px;
	background-image:url(platform-left.gif);
}

.platform:after {
	width:20px;
	right:-20px;
	background-image:url(platform-right.gif);
}



.keen {
	position:absolute;
	left:-20px;
	bottom:36px;
	width:32px;
	height:30px;
	z-index:3;
}

.bloog {
	position:absolute;
	width:50px;
	height:50px;
	bottom:32px;
	right:0;
	-webkit-transform:translateX(0) scaleX(-1);
	-webkit-animation:bloog-walk 13s linear infinite;
	background:url(bloog-walk.gif) no-repeat;
	z-index:3;
}

.field .next {
	position:absolute;
	right:0;
	width:32px;
	height:27px;
	bottom:50px;
	background:url(sign.gif) no-repeat;
	-webkit-animation:float 2s ease-in-out infinite alternate;
	z-index:3;
}

.field .zap {
	position:absolute;
	left:0;
	bottom:47px;
	width:16px;
	height:16px;
	z-index:3;
}



.field.win .bloog {
	-webkit-transform:translateX(0);
	-webkit-animation:die .125s linear 1 .5s forwards;
	background:url(bloog-stand.gif) no-repeat;
}

.field.win .keen {
	background:url(keen-fire.gif) no-repeat;
}

.field.done .keen {
	height:32px;
	background:url(keen-wait.gif) no-repeat;
}

.field.win .zap {
	opacity:0;
	background:url(zap.gif) no-repeat;
	-webkit-animation:zap .5s linear 1;
}


















[data-module] {
	display:none;
}

[data-module]:not([data-initialized]) {
	background:red;
}

[data-module][data-initialized] {
	background:green;
}